.globalWrap {
	width: 100%;
	height: 100%;
	position: relative;
}

.wrap {
	width: 100%;
	height: 100%;
	background-color: #DDD;
	display: flex;
	flex-direction: column;
}

.header {
	flex: auto;
	flex-shrink: 0;
	flex-grow: 0;
	width: 100%;
	background-color: #F5F5F5;	
	display: flex;
	justify-content: center;
	box-shadow: 0 0 2px 0 #333;
	z-index: 1;
}

.pageName {
	font-size: 22px;
	padding: 15px;
}

.content {
	flex: auto;
	width: 100%;
	padding: 10px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
}

.hoverButton {
	position: absolute;
	bottom: 30px;
	right: 30px;
	z-index: 1;
	padding: 20px 27px;
	border-radius: 100px;
	color: #F5F5F5;
	background-color: #4E0199;
	font-size: 22px;
	opacity: 0.7;
	transition-duration: 0.2s;
	box-shadow: 0 0 5px 0 #333;
	cursor: pointer;
}

.hoverButton:active {
	opacity: 1.0;
	box-shadow: 0 0 20px 0 #555;
}

.hoverButton:hover {
	opacity: 0.85;
}
