.messageConteiner {
	width: 100%;
	box-sizing: border-box;
	padding: 0 10px 10px 10px;
	width: 100%;
	display: block;
	overflow: hidden;
	font-size: var(--fontMinSize);
}

.messageBox {
	display: inline-block;
	background-color: #2c2d2f;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
	max-width: 60%;
	word-break: break-all;
	position: relative;
}

.messageBox .time {
	width: 100%;
	text-align: right;
	font-size: var(--fontMinSize);
	margin-top: 5px;
	color: #656668;
}

.self {
	float: right;
	background-color: #454648 !important;
	color: #e2e3e5 !important;
}

.time {
	color: #77787a !important;
}

.self:after {
	clear: both;
}

.status {
	width: 8px;
	height: 8px;
	border-radius: 9px;
	position: absolute;
	bottom: 18px;
	right: -18px;
	transition-duration: 0.2s;
	opacity: 0.8;
}

.self .status {
	right: unset;
	left: -18px;
}

.newBox {
	animation-name: messageBoxApearence;
	animation-duration: 0.4s;
}

@keyframes messageBoxApearence {
	from {
		max-height: 0;
		opacity: 0;
		padding-top: 0;
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 0;
	}

	to {
		max-height: 100%;
		opacity: 1;
		padding-top: 0;
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
	}
}

.additionText {
	padding: 0 10px;
	margin-bottom: 10px;
	font-size: var(--fontMinMinSize);
	display: inline-block;
	max-width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.defaultAddition {
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 1px solid #666;
	border-radius: 10px;
	margin-bottom: 10px;
	height: 100px;
	min-width: 100px;
	box-shadow: 0 0 5px 0 #333;
	border-radius: 10px;
	overflow: hidden;
}

.geolocation {
	background-image: url(../images/geoImg.png);
}

.document {
	background-image: url(../images/docImg.png);
	max-width: 150px;
}

.image {
	/* height: 200px; */
	max-width: 100%;
	min-width: 100px;
	flex: auto;
	flex-grow: 0;
	flex-shrink: 0;
	border-radius: 10px;
	box-shadow: 0 0 5px 0 #333;
	margin-bottom: 10px;
}

.audioStatus {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.audioPlay {
	background-image: url(../images/play.png);
}

.audioStop {
	background-image: url(../images/pause.png);
}
